/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
    line-height: calc(1em + 0.5rem);
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  .container{
    height: 100vh;
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100vw;
    min-height: 100px;
  }

  .hello-world{
    background-color: blue; 
    margin-top: 1rem;
    font-family: 'COUTUREBold';
    font-size: 38px;
  }

  .wide{
    font-size: 24px;
    letter-spacing: .5em;
  }

  .narrow{
    font-size: 48px;
    letter-spacing: -0.15em;
  }
