*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label{
    padding: 1rem;
}

input{
    
}

.container{
    display: flex;
    margin: 1rem;
    border: solid red 2px;
    align-items: baseline;
}

